/*General*/
* {
  margin:0;
  padding:0;
}
body {
  background:black;
}
header h1 {
    margin: 10px;
    color:white;
    text-align:center;
    font:Bold 50px Lobster, Monospace;
}
/*Play button stuff*/
#button-area {
  padding: 0px;
  margin: 40px 0 0 0;
  text-align: center;
}
#opener-btn {
  background: #cd5547;
  color:white;
  padding: 5px;
  font:Bold 30px Lobster, Monospace;
  text-align: center;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
#opener-btn:hover{
  background: #7a2d24;
}
/* UI window stuff*/

/*box containing cells*/
.game-cub {
    width:400px;
    margin:auto;
    margin-top:60px;
    text-align:center;
    padding:0;
    color: white;
}
/*individual cells
 * saetting overflow:hidden fixed the positioning problem
 */
.cell {
    display:inline-block;
    font-size: 50px;
    width:100px;
    height:100px;
    /*vertically align text*/
    line-height: 100px;
    border-width:1px;
    border-style:solid;
    /*color of text*/
    color:#cd5547;
    border-color:white;
    cursor: pointer;
    /*prevent span from repositioning when text changes*/
    overflow:hidden;
}
