/*General*/
* {
  margin:0;
  padding:0;
}
body {
  background:black;
}
header h1 {
    margin: 10px;
    color:white;
    text-align:center;
    font:Bold 50px Lobster, Monospace;
}
/*Play button stuff*/
#button-area {
  padding: 0px;
  margin: 40px 0 0 0;
  text-align: center;
}
#opener-btn {
  background: #cd5547;
  color:white;
  padding: 5px;
  font:Bold 30px Lobster, Monospace;
  text-align: center;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
#opener-btn:hover{
  background: #7a2d24;
}

/*box containing cells*/
.game-cub {
    width:300px;
    height:300px;
    margin:auto;
    margin-top:60px;
    padding:0;
    text-align:center;
}
/*individual cells*/
.cell {
    display:block;
    float:left;
    font-size: 50px;
    width:100px;
    height:100px;
    /*vertically align text*/
    line-height: 100px;
    border-width:1px;
    border-style: dashed;
    /*color of text*/
    color:#cd5547;
    border-color:white;
    cursor: pointer;
}
/* Score stuff*/
#container_score {
  width:600px;
  margin:50px auto;
  text-align:center;
  border-style:solid;
  border-width: 5px;
  border-color:#2cca12;
  border-radius:5px;
}
#player_score_container, #AI_score_container, #tie_score_container {
    float:left;
    width:33%;
    color:white;
    font-size:30px;
    text-align:center;
    font-family:Bitter, Monospace;
}
#player_score, #AI_score, #tie_score{
    width:100%;
    float:right;
}




















